<head>
	  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" integrity="" crossorigin="anonymous">
	
</head>

	<div class="container text-center" style="padding: 30px 150px;">
		<h1 class="Nexa-Bold alert alert-success" style='text-align :center;margin-bottom:30px' th:text="'Order number : ' + ${cmd.id}"></h1>

                <table class="table text-center">
                    <tr> 
                        <th> <label> Last Name </label> </th>
                        <td> : </td> 
                        <td th:text="${cmd.client.lname}"></td> 
                    </tr>
                    <tr> 
                        <th> <label> First Name </label> </th> 
                        <td> : </td>
                        <td th:text="${cmd.client.fname}"></td> 
                    </tr>
                    <tr> 
                        <th> <label> E-mail </label> </th>
                        <td> : </td> 
                        <td th:text="${cmd.client.email}"> </td>
                    </tr>
                    <tr> 
                        <th> <label>shipping address</label> </th> 
                        <td> : </td>
                        <td th:text="${cmd.client.adress}"> </td>
                    </tr>
                    <tr> 
                        <th> <label> Title article </label> </th> 
                        <td> : </td>
                        <td th:text="${cmd.article.title}"> </td>
                    </tr>
                    <tr> 
                        <th> <label> Image </label> </th>
                        <td> : </td>
                        <td> <img th:src="@{'/images/' + ${cmd.article.img}}" width="80">  </td>
                    </tr>
                    <tr> 
                        <th> <label> Price </label> </th> 
                        <td> : </td>
                        <td th:text="${cmd.article.prix}"> </td>
                    </tr>
                    <tr> 
                        <th> <label> Quantity </label> </th> 
                        <td> : </td>
                        <td th:text="${cmd.qte}"> </td>
                    </tr>
                     <tr> 
                        <th> <label> Total price </label> </th>
                        <td> : </td>
                        <td th:text="${cmd.qte} * ${cmd.article.prix}"> </td>
                    </tr>
                </table>
                
            <div class="form-group"> 
                <button onclick="myFunction()" class="btn btn-warning">Print this page</button>
                <br>
               	<a th:href="@{card(y=${y},email=${client.email})}">Return</a>
            </div>
        </div>
        
                <!-- Print -->
        <script>
            function myFunction() {
                window.print();
            }
        </script>

	